<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.ebf" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>EBF</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <engine name="browser" spec="~5.0.3" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
    <allow-navigation href="*" />
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.2" />
    <preference name="SplashScreenDelay" value="10000" />
    <platform name="android">
      <preference name="SplashScreen" value="splash" />
      <splash src="splash.png" />
      <splash src="www/res/screen/android/drawable-land-hdpi-screen.png" density="land-hdpi"/>
      <splash src="www/res/screen/android/drawable-land-ldpi-screen.png" density="land-ldpi"/>
      <splash src="www/res/screen/android/drawable-land-mdpi-screen.png" density="land-mdpi"/>
      <splash src="www/res/screen/android/drawable-land-xhdpi-screen.png" density="land-xhdpi"/>

      <splash src="www/res/screen/android/drawable-port-hdpi-screen.png" density="port-hdpi"/>
      <splash src="www/res/screen/android/drawable-port-ldpi-screen.png" density="port-ldpi"/>
      <splash src="www/res/screen/android/drawable-port-mdpi-screen.png" density="port-mdpi"/>
      <splash src="www/res/screen/android/drawable-port-xhdpi-screen.png" density="port-xhdpi"/>
  </platform>
</widget>
